* {
  margin: 0px;
  padding: 0px;
}
.heading {
  color: blueviolet;
  text-align: center;
}
.btn {
  margin: 5px calc(50vw - 3rem);
  width: 6rem;
  height: 3rem;
  background-color: cornflowerblue;
  border: 0px;
  border-radius: 5px;
  text-transform: uppercase;
  color: azure;
  cursor: pointer;
}
.btn1 {
  width: 6rem;
  height: 3rem;
  background-color: cornflowerblue;
  border: 0px;
  border-radius: 5px;
  text-transform: uppercase;
  color: azure;
  cursor: pointer;
}
.btn:hover {
  color: cornflowerblue;
  background-color: azure;
  border: 1px solid cornflowerblue;
}
.heading1 {
  text-align: center;
  display: none;
}
.noClicked {
  height: 4rem;
}
.clicked {
  display: block;
}

.section-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.article {
  text-align: center;
}
.container {
  margin: auto;
  background-color: aqua;
  opacity: 0.5;
}
.content-divider {
  height: 1rem;
  background-color: aquamarine;
}
.content {
  text-align: center;
}
.btnCont {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
